.createSkillDiv{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 30%; 
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
    border-style: solid;
    border-color: royalblue;
    font-family: sans-serif;
}

#addBtn{ 
    margin-top: 5px;  
    margin-bottom: 5px; 
    width: 100px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: green;
    color: white;
    box-shadow: 4px 4px 4px grey;
}

#addBtn:hover{
    background-color: rgb(0, 94, 0); 
}

#cancelBtn{ 
    margin-top: 5px;  
    margin-bottom: 5px; 
    width: 100px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    box-shadow: 4px 4px 4px grey;
}

#cancelBtn:hover{
    background-color: rgb(194, 0, 0); 
}